.idea
src/data/issues/*/*.json
src/data/pages/*.json
src/tmp/templates_cache/*
src/tmp/github_api_cache/*
!src/tmp/templates_cache/.gitkeep
!src/tmp/github_api_cache/.gitkeep
src/vendor
src/composer.phar