<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">

    {% block head %}
    {% endblock %}

    {% block title %}
        <title>{{ projectName }} Issues</title>
    {% endblock %}
</head>
<body>

{% block content %}{% endblock %}

<div class="container" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-6">
            Powered by <a target="_blank" href="https://github.com/matomo-org/github-issues-mirror">GitHub Issue Mirror</a>
        </div>
        <div class="col-md-6 text-right">
            <a href="https://piwik.org/privacy-policy/">Privacy Policy</a>
        </div>
    </div>
</div>

{% if matomoURL and matomoID %}
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "{{ matomoURL }}";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '{{ matomoID }}']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
{% endif %}

</body>
</html>