<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">

    {% block head %}
    {% endblock %}

    {% block title %}
        <title>{{ projectName }} Issues</title>
    {% endblock %}
</head>
<body>

{% block content %}{% endblock %}

    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-6">
                Powered by <a target="_blank" href="https://github.com/piwik/github-issues-mirror">GitHub Issue Mirror</a>
            </div>
        </div>
    </div>

</body>
</html>