$grid-gutter-width: 10px;

@import "../node_modules/bootstrap/scss/bootstrap";

.card-deck {
	.row {
		align-items: stretch;
		> div {
			display: flex;
			margin-bottom: 2*$grid-gutter-width;
			.card {
				color: $gray-900;
				small {
					color: $gray-700;
				}
				text-decoration: none;
				&:hover,&:focus,&:active {
					border: 1px solid rgba(0, 0, 0, 0.5);
					background: $gray-200;
				}
			}
		}
	}
}